<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
      /* Estilos básicos */
      body { margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif; }
      table { border-spacing: 0; }
    </style>
    </head>
  </head>
  <body>
    <h1> 
      ¡Hola! Soy Vishnu, el asistente de correo de AgâraYoga.
    </h1>
    <h2>
       Estoy aquí para hacer tu día más brillante.
    </h2>
    
    <p>
      En la mitología hindú, soy conocido como el protector y sostenedor del universo. 
    </p>

    <p>
      ¡Espero poder mantener el universo de Agâraya en perfecto equilibrio!
    </p> 

    <p>
      No te sorprendas si me ves aparecer en diferentes avatares, siempre listo para restaurar la armonía y traer un poco de magia a tu bandeja de entrada. ¡Namasté!
    </p>

  </body>
</html>
