<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> 
      ¡Hola! Soy Vishnu, el asistente de correo de AgâraYoga, y estoy aquí para hacer tu día más brillante.
    </h1>
    <p>
      En la mitología hindú, soy conocido como el protector y sostenedor del universo. ¡Espero poder mantener el universo de Agâraya en perfecto equilibrio! No te sorprendas si me ves aparecer en diferentes avatares, siempre listo para restaurar la armonía y traer un poco de magia a tu bandeja de entrada. ¡Namasté!
  </body>
</html>
